body {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Set padding to display errors that occur during databinding */
.padding-error {
    padding-top: 20px;
}

@media only screen and (max-width: 767px) {
    .nofloat {
        float: none;
        padding: 10px 15px;
    }
}


#controllerDiv {
    border-right: 0.5px solid #fff;
}



/***********************************************************/
#my_file {
    display: none;
}

#customfileupload {
    width: 100%;
    margin: 0 auto;
}

#uploadFile {
    position: relative;
    right: 15px;
}

.margBottom {
    margin-bottom: 25px;
}
.margTop{
    margin-top: 25px;
}

.qnaDiv {
    border-bottom: 0.5px solid #fff;
}

#borderWidth {   
    width: 95%;
}

.wrapper {
    margin: 0 auto;
    padding: 25px;
    background: #062136;
    border-radius: 10px;
    color: #fff;
}

.navbarCustom {
    background-color: rgb(6, 33, 54);
    box-shadow: 0px 10px 10px #888;
}

.jumbotron {
    color: rgb(6, 33, 54);
    background-color: #fff;
}

table {
    margin: 0 auto;
    border-collapse: separate;
    border-spacing: 25px 10px;
}

th, td {
    text-align: center;
}

th {
    border-bottom: 2.5px solid #fff;
}

td {
    border-bottom: 1px solid #fff;  
}

#tableDiv {
    overflow-y: scroll;
    max-height: 300px;
}

/*tbody {
    display: block;
    height: 300px;
    overflow: auto;
}*/

.options {
    border-bottom: none;
}
.options a{
    color: #fff;
}