<!-- ko with: home -->
<div class="jumbotron">
    <h1>QnA</h1>
    <h3>Make your own FAQ</h3>
</div>
<div class="row wrapper">
    <h5 id="informationHeader"></h5>
    <div class="col-md-4 ">
        <div class="container">
            <div class="row qnaDiv">
                <h1>QnA</h1>
                <form class="form-horizontal" id="margBottom">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="question">Question:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="question" placeholder="Write you question here..."/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="answer">Answer:</label>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" id="answer" placeholder="Write you answer here..."/>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" id="addButton">Add</button>
                </form>
            </div>
            <div class="row margTop margBottom">
                <div class="form-group col-sm-3">
                    <input class="btn btn-primary" type="button" id="get_file" value="Grab file" />
                    <input type="file" id="my_file" />
                </div>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="customfileupload" />
                </div>
            </div>
            <div class="row margTop margBottom">
                <button type="submit" class="btn btn-primary" id="saveXMLButton">Save XML</button>
            </div>
        </div>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="container">
                <textarea readonly=readonly class="form-control" id="xmlTextArea"></textarea> <!--<?xml version="1.0" encoding="UTF-8" ?></textarea>-->
            </div>
        </div>
    </div>
</div>
<!-- /ko -->